<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2 Projekts</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header class="header">
    <h1>Footprint Finder</h1>
    <h3>Profile</h3>
    <form action="/">
        <button type="submit" class="header-button">Atgriezties</button>
    </form>
    <br>
    <form action="/logout">
        <button type="submit" class="header-button">Iziet</button>
    </form>
</header>

<main class="main-container">
    <h2>Vēsture:</h2>
    {% if extracted_data %}
    {% for bundle in extracted_data %}
    <h3>{{bundle.timestamp}} </h3>
    <a href="/export?bundle_id={{ bundle.bundle_id }}" class="download-button">Lejupielādēt Excel Tabulu</a>
    <section class="results-section">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Firma</th>
                <th>Datums</th>
                <th>Produkts</th>
                <th>Daudzums</th>
                <th>Cena</th>
                <th>Emisija</th>
                <th>Fails</th>
            </tr>
            </thead>
            <tbody>

            {% for invoice in bundle.invoices %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ invoice.firma }}</td>
                <td>{{ invoice.datums }}</td>
                <td>{{ invoice.produkts }}</td>
                <td>{{ invoice.daudzums }}</td>
                <td>{{ invoice.cena }}</td>
                <td>{{ invoice.emisija }}</td>
                <td>{{ invoice.fails }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    {% endfor %}
    {% else %}
    <p>Nav datu, kas tiek parādīti.</p>
    {% endif %}
</main>

<footer class="footer">
    <p>&copy; 2024 Projekts CO2. Visas tiesības aizsargātas.</p>
</footer>

</body>
</html>
