<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2 Projekts</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="header">
        <h1>Footprint Finder</h1>
        <h3>Reģistrācija</h3>
    </header>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div id="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main class="main-container">
        <form action="/register" method="POST" enctype="multipart/form-data" class="upload-form">
            <label for="username" class="file-label">Lietotājvārds:</label>
            <input type="text" name="username" id="username">
            <label for="password" class="file-label">Parole:</label>
            <input type="password" name="password" id="password">
            <label for="passwordtwo" class="file-label">Atkartot paroli:</label>
            <input type="password" name="passwordtwo" id="passwordtwo">
            <button type="submit" class="upload-button">Reģistrēties</button>
        </form>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Projekts CO2. Visas tiesības aizsargātas.</p>
    </footer>























</body>
</html>
